${packageDeclaration}

import org.codehaus.groovy.grails.plugins.springsecurity.acl.AclClass

class AclClassController extends grails.plugins.springsecurity.ui.AclClassController {

	protected String lookupClassName() { AclClass.name }

	protected Class<?> lookupClass() { AclClass }
}
