${packageDeclaration}

import org.codehaus.groovy.grails.plugins.springsecurity.acl.AclSid

class AclSidController extends grails.plugins.springsecurity.ui.AclSidController {

	protected String lookupClassName() { AclSid.name }

	protected Class<?> lookupClass() { AclSid }
}
