<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="\${layoutUi}" />
        <g:set var="entityName" value="\${message(code: '${propertyName}.label', default: '${saClassName}')}" />
        <s2ui:title messageCode='default.list.label' entityNameMessageCode='${propertyName}.label' entityNameDefault='Security Questions'/>
    </head>
    <body>

        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="\${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="list-${propertyName}" class="body" role="main">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="\${flash.message}">
                <div class="message" role="status">\${flash.message}</div>
            </g:if>
           <div class="list">
           		<table>
           			<thead>
           			<tr>
           				<s2ui:sortableColumn property='id' titleDefault='ID'/>
                     <% for(int i=1; i <= numberOfQuestions.toInteger(); i++) {  %>
                        <s2ui:sortableColumn property='myQuestion${i}' titleDefault='myQuestion${i}'/>
                        <s2ui:sortableColumn property='myAnswer${i}' titleDefault='myAnswer${i}'/>
                     <%  } %>
                     <s2ui:sortableColumn property='${userPropName}' titleDefault='${userPropName}'/>
           			</tr>
           			</thead>
           			<tbody>
           			<g:each in='\${results}' status='i' var='entry'>
           				<tr class="\${(i % 2) == 0 ? 'odd' : 'even'}">
           					<td><g:link action='edit' id='\${entry.id}'>\${entry.id}</g:link></td>
           					 <% for(int j=1; j <= numberOfQuestions.toInteger(); j++) {  %>
                                                    <td>\${entry.myQuestion${j}}</td>
                                                    <td>\${entry.myAnswer${j}}</td>

                                                 <%  } %>
           					<td><g:link action='edit' controller='${userDomainName}' id='\${${userPropName}.id}'>\${entry.${userPropName}}</g:link></td>
           				</tr>
           			</g:each>
           			</tbody>
           		</table>
           	</div>
           	<s2ui:paginate total='\${totalCount}'/>
        </div>
    </body>
</html>